.text-input {
  width: 100%;
  padding: 24px;
  font-size: 18px;
  border-radius: 32px;
  font-weight: var(--font-weight-regular);
  border: none;
  background-color: var(--black-color-05);
  outline: none;
}