<div class="local-news-wrapper">
  @for (local of localNews(); track local.createdAt) {
  <div class="local-news">
    <img class="news-image" [src]="local.image" [alt]="local.title" />
    <div class="news-date">{{ local.createdAt | formatDateRu }}</div>
    <div class="news-title">{{ local.title }}</div>
  </div>
  }
</div>

<div class="news-cards-list">
  @for (item of newsList(); track item.id) {
  <app-news-card
    [titleImageUrl]="item.titleImageUrl"
    [publishedDate]="item.publishedDate"
    [title]="item.title"
    [id]="item.id"
    [Url]="item.url"
  />
  }
</div>

@if(isLoading()) {
<div class="loading">
  <app-spinner></app-spinner>
</div>
}

<div #loadTrigger class="scroll-trigger"></div>
